@page
@model Pokemones.Pages.CategoriasModel
@{
}
<div class="card">
    <div class="card-header bg-primary text-white d-flex justify-content-between">
        <h3>Listado de categorias</h3>
        <a asp-page="/nueva-categoria" class="btn btn-success"><i class="bi bi-plus-square"></i> Nueva Categoría</a>
    </div>
    <div class="card-body">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach( var categoria in Model.Categoria)
            {
              <tr>
                        <td>@categoria.Id</td>
                        <td>@categoria.Nombre</td>
                        <td>
                            <a asp-page="/editar-categoria" asp-route-id="@categoria.Id" class="btn btn-warning"><i class="bi bi-pencil-square"></i> Editar</a>
                            <a asp-page="/eliminar-categoria" asp-route-id="@categoria.Id" class="btn btn-danger"><i class="bi bi-trash3"></i> Borrar</a>
                        </td>
              </tr>
            }
                  
        </tbody>
    </table>
    </div>

</div>
