@page
@model Pokemones.Pages.eliminar_categoriaModel
@{
}
<div class="d-flex justify-content-center">
    <div class="card col-6">
        <div class="card-header bg-primary text-white">
            <h3>Eliminar Categoría</h3>
        </div>
        <form method="post">
            <div class="card-body">
               <p>¿Estas seguro de eliminar la categoria?</p>
                
            </div>
            <div class="card-footer d-flex justify-content-between">
                <button type="submit" class="btn btn-danger">Eliminar</button>
                <a asp-page="/categorias" class="btn btn-secondary">Cancelar</a>
            </div>
        </form>

    </div>
</div>